Cython==3.0.0
easydict==1.10
h5py==3.8.0
imageio==2.31.1
matplotlib==3.5.3
metric_learn==0.6.2
opencv_python==4.8.0.74
Pillow==11.2.1
prettytable
scikit-learn
scipy==1.7.3
setuptools==65.6.3
six==1.16.0
timm==0.9.2
tensorflow
tensorboard
tqdm==4.65.0
yacs==0.1.8
kornia